.p-img {
  position: relative;
}

.p-img:hover .cart-button {
  display: block;
}

.p-img .cart-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}
